<IfModule mod_rewrite.c>
	Options +FollowSymlinks

	RewriteEngine on
	RewriteBase /lab/

	# Prevent them from viewing hidden files/dirs.
	RewriteRule "(^|/)\." - [F]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{HTTPS} !=on
	RewriteRule ^/?assets/(.*) assets/$1 [L,QSA]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule (.*) index.php?url=$1 [L,QSA]


#	RewriteRule ^$ index.php?url=users/login [L,QSA]
#	RewriteRule ^$ index.php?url=dashboard [L,QSA]

</IfModule>

