@import 'mixins.less';

html, body{ background-color: #d3dce6; }

#wrapper{
	background-color: #d3dce6;
	margin-bottom: 50px;
	//&.admin #header{
	//	height: 80px !important;
	//}

	a {
		color: #0000ee;
		text-decoration: underline;
		cursor: pointer;
	}

	#headerWrapper {
		background-color: #26354a;
		#header {
			width: 1000px;
			margin: 0 auto 20px;
			min-height: 50px;
			max-height: 80px;
			background-color: #26354a;
			color: #d3dce6;
			letter-spacing: .3em;
			font: 11px Arial, helvetica, sans-serif;
			line-height: 16px;
			.padding15;

			.title {
				.aligncenter;
				color: #ffba00;
				text-decoration: none;
				line-height: 26px;
				font: 24px Times New Roman, Time, serif;
				border-right: 2px #ffba00 solid;
				padding-right: 10px;
				a{
					color: #ffba00;
					text-decoration: none;
				}
			}

			.subtitle {
				padding: 15px;
				position: relative;
				top: 6px;
			}

			.nav{
				letter-spacing: 1.5px;
				border-top: 1px solid #ffba00;
				margin-top: 5px;
				padding-top: 10px;
				font-size: 14px;
				ul, li{
					list-style: none;
					display: inline-block;
				}
				li{
					&:after {
						padding: 0 5px 0 10px;
						content: "|";
					}

					&:last-child:after{
						content: "";
					}
				}
				a{
					cursor: pointer;
					color: #d3dce6;
					&:hover{
						color: #ffba00;
					}
				}
			}
		}
	}
	


	#main{
		width: 1000px;
		margin: 0 auto 37px;

		#tree{
			.treeCertSubject{
				font-weight: bold;
				margin: 0 0 30px 0;
				.aligncenter
			}
			.certList{
				position: relative;
				top: -70px;
			}
			.middleTree{
				width: 255px;
				margin: 0 67px 0;
			}
			table {
				padding: 5px;
				tr.treeCertsDesc {
					font-weight: bold;
					border-bottom: 1px solid black;
					.padding5Bottom;
				}
				tr{
					td:nth-child(1){
						padding-right: 5px;
					}
					td:nth-child(2){
						.aligncenter;
						.padding5Right;
					}
					td:nth-child(3){
						.padding5Left;
					}
				}
			}
		}
		#cert, #class{
			margin: 100px 0 25px 0;
			border: 1px solid black;

			sup {
				vertical-align: super;
				font-size: smaller;
			}
			.info{
				font-weight: bold;
				margin: 0 0 30px 0;
				.back{
					cursor: pointer;
				}
			}

			p.title{
				font-size: larger;
				font-weight: bold;
				padding: 0 0 20px 0;
			}

			ul{
				padding-left: 40px;
				li {
					display: list-item;
				}
			}

			table{
				width: 100%;
				a{
					display: block;
				}

				td{
					border: 1px dotted black;
					padding: 5px;
					
					& > table td {
						border: none !important;
						padding: 0 !important;
					}
				}
			}
		}
		#class a {
			 display: inline;
		 }
		#cert {
			padding-bottom: 20px;
		}

		.login, .resetPassword{
			margin: 30px;
			.loginWrapper{
				max-width:400px;
				margin:50px auto;
				
				p{
					font-size: larger;
				}
			}
			form{
				max-width:400px;
				ul	textarea{
					resize:none;
				}
			}
		}
		.errorPage, .logout{
			div{
				max-width:400px;
				margin:50px auto;

				p{
					font-size: larger;
				}
			}
		}

		.admin{
			.audit{
				& > p{
					font-weight: bold;
					padding: 10px 0 10px 0;
				}
			}

			.audit, .classes, .certs, .users{
				& > p{
					font-weight: bold;
					padding: 10px 0 10px 0;
				}

				.listing li{
					&:nth-child(even){
						background: #b1bcc7;
					}
				}
				li{
					padding: 10px;
					list-style: none;
					border: 1px solid black;
					border-bottom: none;
					&:last-child{
						border-bottom: 1px solid black
					}

					img{
						cursor: pointer;
						float: right;
						height: 20px;
						vertical-align: text-top;
						padding: 0 5px 0 5px;
					}
				}

				.pages{
					margin: 10px;
					p{
						margin: 0 0 10px 0;
					}
					a{
						padding-right: 10px;
						text-decoration: none;
						&:after{
							content: '|';
							padding: 0 0 0 10px;
							color: #000 !important;
						}

						&:last-child:after{
							content: '';
						}
						&.current{
							color: #ffba00;
						}
					}
				}
			}

			.certs{
				form{
					ul{
						li {
							border: 1px solid #a2aab2;
						}
						li:last-child{
							border:none;
							margin-bottom: 0px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

footer{
	background-color: #26354a;
	position: fixed;
	bottom: 1px;
	height: 36px;
	color: #d3dce6;
	width: 100%;
	//overflow: hidden;
	& > div {
		width: 1000px;
		margin: 0 auto 0;
		padding: 10px 0 0 0;

		.langPicker {
			display: inline-block;
			cursor: pointer;
			img.uparrow {
				height: 13px;
				vertical-align: text-top;
			}
			img.flag {
				height: 11px;
				width: 16px;
				object-fit: none;
				margin-right: 10px;
				object-position: -136px -273px;
			}

			.es {
				object-position: -72px -76px !important;
			}
			.en {
				object-position: -118px -256px !important;;
			}

			ul{
				list-style: none;
			}

			ul li ul {
				position: absolute;
				display: none;
				z-index: 1000;
				background: #26354a;
			}

			ul li ul li{
				padding: 10px;
				border-top: 1px dotted #d3dce6;
				
				&:first-child {
					border: none;
				}
			}

			ul li:hover ul{
				display: block;
				bottom: 25px;
			}
		}
	}
}
//global input styles

form{
	margin: 50px auto;
	background:#c1cad3;
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	h1{
		display: block;
		text-align: center;
		padding: 0;
		margin: 0px 0px 20px 0px;
		color: #5C5C5C;
		font-size:x-large;
	}
	ul{
		list-style:none;
		padding:0;
		margin:0;
		li{
			display: block;
			padding: 9px;
			border:1px solid #a2aab2;
			margin-bottom: 30px;
			border-radius: 3px;
		}
		li.error{
			border: 1px solid red !important;
			&  > span{
				background: red !important;
			}
		}
		li:last-child{
			border:none;
			margin-bottom: 0px;
			text-align: center;
		}
		li > label{
			display: block;
			float: left;
			margin-top: -19px;
			background: #c1cad3;
			height: 14px;
			padding: 2px 5px 2px 5px;
			color: #4e4e4e;
			font-size: 14px;
			overflow: hidden;
			font-family: Arial, Helvetica, sans-serif;
		}

		li > span{
			background: #4e4e4e;
			display: block;
			padding: 3px;
			margin: 0 -9px -9px -9px;
			text-align: center;
			color: #fafafa;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
		}
	}
}
input[disabled], input[readonly]{
	cursor: not-allowed;
}
input[type="text"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="time"], input[type="url"], input[type="password"], textarea, select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

input[type="submit"],  input[type="button"]{
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #D2E2FF;
	&:hover {
		background: #6B9FFF;
		color:#fff;
	}

	&.low{
		background: #8c8c8c;
		border-bottom: 3px solid #c8c8c8;
	}

	&.processing{
		background-image: url( '../img/ajax-loader.gif' );
		background-repeat: no-repeat;
		background-position-x: 19px;
		background-position-y: 3px;
		color: rgba(0,0,0,0);
	}
}

.modal {
	//display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 70000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	.modalWrapper {
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 450px;

		.close {
			color: #aaaaaa;
			float: right;
			font-size: 28px;
			font-weight: bold;
			&:hover, &focus {
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}
		}

		.modalContent {
			min-height: 20px;
			overflow: auto;
			max-height: 470px;
			line-height: 18px;
			height: auto;
		}

		.modalFooter {
			.alignright;
			margin-top: 15px;
			input {
				margin: 0 0 0 15px;
			}
		}

		form {
			margin: 10px auto;
			max-width: 400px;
			background: #fff;

			ul {
				li {
					border: 1px solid #4e4e4e;
				}
				li.error {
					border: 1px solid red !important;
					& > span {
						background: red !important;
					}
				}
				li > label {
					background: #fff;
				}

				textarea {
					resize: none;
					max-height: 365px;
				}
			}
		}

		a {
			color: #20c5f7;
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
#loadOff {
	position: absolute;
	top: -100px;
}

.padding30Bottom{
	padding-bottom: 30px;
}
.margin25Top{
	margin-top: 25px
}

.noneImportant{
	display: none !important;
}

.tip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px;
	z-index: 70001;
}