.aligncenter {
  text-align: center;
}
.aligncenterImp {
  text-align: center !important;
}
.alignleft {
  text-align: left;
}
.alignleftImp {
  text-align: left !important;
}
.alignright {
  text-align: right;
}
.alignrightImp {
  text-align: right !important;
}
.alignjustify {
  text-align: justify;
}
.alignjustifyImp {
  text-align: justify !important;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inlineBlock {
  display: inline-block;
}
.flex {
  display: flex;
}
.none {
  display: none;
}
.hidden {
  visibility: hidden;
}
.clear {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.floatleft {
  float: left !important;
}
.floatright {
  float: right !important;
}
.margin0 {
  margin: 0px;
}
.margin0Top {
  margin-top: 0px;
}
.margin0Right {
  margin-right: 0px;
}
.margin0Bottom {
  margin-bottom: 0px;
}
.margin0Left {
  margin-left: 0px;
}
.margin5 {
  margin: 5px;
}
.margin5Top {
  margin-top: 5px;
}
.margin5Right {
  margin-right: 5px;
}
.margin5Bottom {
  margin-bottom: 5px;
}
.margin5Left {
  margin-left: 5px;
}
.margin10 {
  margin: 10px;
}
.margin10Top {
  margin-top: 10px;
}
.margin10Right {
  margin-right: 10px;
}
.margin10Bottom {
  margin-bottom: 10px;
}
.margin10Left {
  margin-left: 10px;
}
.margin15 {
  margin: 15px;
}
.margin15Top {
  margin-top: 15px;
}
.margin15Right {
  margin-right: 15px;
}
.margin15Bottom {
  margin-bottom: 15px;
}
.margin15Left {
  margin-left: 15px;
}
.margin0Important {
  margin: 0px !important;
}
.margin0TopImportant {
  margin-top: 0px !important;
}
.margin0RightImportant {
  margin-right: 0px !important;
}
.margin0BottomImportant {
  margin-bottom: 0px !important;
}
.margin0LeftImportant {
  margin-left: 0px !important;
}
.margin5Important {
  margin: 5px !important;
}
.margin5TopImportant {
  margin-top: 5px !important;
}
.margin5RightImportant {
  margin-right: 5px !important;
}
.margin5BottomImportant {
  margin-bottom: 5px !important;
}
.margin5LeftImportant {
  margin-left: 5px !important;
}
.margin10Important {
  margin: 10px !important;
}
.margin10TopImportant {
  margin-top: 10px !important;
}
.margin10RightImportant {
  margin-right: 10px !important;
}
.margin10BottomImportant {
  margin-bottom: 10px !important;
}
.margin10LeftImportant {
  margin-left: 10px !important;
}
.margin15Important {
  margin: 15px !important;
}
.margin15TopImportant {
  margin-top: 15px !important;
}
.margin15RightImportant {
  margin-right: 15px !important;
}
.margin15BottomImportant {
  margin-bottom: 15px !important;
}
.margin15LeftImportant {
  margin-left: 15px !important;
}
.padding0 {
  padding: 0px;
}
.padding0Top {
  padding-top: 0px;
}
.padding0Right {
  padding-right: 0px;
}
.padding0Bottom {
  padding-bottom: 0px;
}
.padding0Left {
  padding-left: 0px;
}
.padding5 {
  padding: 5px;
}
.padding5Top {
  padding-top: 5px;
}
.padding5Right {
  padding-right: 5px;
}
.padding5Bottom {
  padding-bottom: 5px;
}
.padding5Left {
  padding-left: 5px;
}
.padding10 {
  padding: 10px;
}
.padding10Top {
  padding-top: 10px;
}
.padding10Right {
  padding-right: 10px;
}
.padding10Bottom {
  padding-bottom: 10px;
}
.padding10Left {
  padding-left: 10px;
}
.padding15 {
  padding: 15px;
}
.padding15Top {
  padding-top: 15px;
}
.padding15Right {
  padding-right: 15px;
}
.padding15Bottom {
  padding-bottom: 15px;
}
.padding15Left {
  padding-left: 15px;
}
.padding0Important {
  padding: 0px !important;
}
.padding0TopImportant {
  padding-top: 0px !important;
}
.padding0RightImportant {
  padding-right: 0px !important;
}
.padding0BottomImportant {
  padding-bottom: 0px !important;
}
.padding0LeftImportant {
  padding-left: 0px !important;
}
.padding5Important {
  padding: 5px !important;
}
.padding5TopImportant {
  padding-top: 5px !important;
}
.padding5RightImportant {
  padding-right: 5px !important;
}
.padding5BottomImportant {
  padding-bottom: 5px !important;
}
.padding5LeftImportant {
  padding-left: 5px !important;
}
.padding10Important {
  padding: 10px !important;
}
.padding10TopImportant {
  padding-top: 10px !important;
}
.padding10RightImportant {
  padding-right: 10px !important;
}
.padding10BottomImportant {
  padding-bottom: 10px !important;
}
.padding10LeftImportant {
  padding-left: 10px !important;
}
.padding15Important {
  padding: 15px !important;
}
.padding15TopImportant {
  padding-top: 15px !important;
}
.padding15RightImportant {
  padding-right: 15px !important;
}
.padding15BottomImportant {
  padding-bottom: 15px !important;
}
.padding15LeftImportant {
  padding-left: 15px !important;
}
.relative {
  position: relative;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.width5 {
  width: 5% !important;
}
.width10 {
  width: 10% !important;
}
.width15 {
  width: 15% !important;
}
.width20 {
  width: 20% !important;
}
.width25 {
  width: 25% !important;
}
.width30 {
  width: 30% !important;
}
.width35 {
  width: 35% !important;
}
.width40 {
  width: 40% !important;
}
.width45 {
  width: 45% !important;
}
.width50 {
  width: 50% !important;
}
.width55 {
  width: 55% !important;
}
.width60 {
  width: 60% !important;
}
.width65 {
  width: 65% !important;
}
.width70 {
  width: 70% !important;
}
.width75 {
  width: 75% !important;
}
.width80 {
  width: 80% !important;
}
.width85 {
  width: 85% !important;
}
.width90 {
  width: 90% !important;
}
.width95 {
  width: 95% !important;
}
.width100 {
  width: 100% !important;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.red {
  color: red;
}
html,
body {
  background-color: #d3dce6;
}
#wrapper {
  background-color: #d3dce6;
  margin-bottom: 50px;
}
#wrapper a {
  color: #0000ee;
  text-decoration: underline;
  cursor: pointer;
}
#wrapper #warningWrapper.error {
  background: #d73a49;
}
#wrapper #warningWrapper.notice {
  background: #d7a73d;
}
#wrapper #warningWrapper #warning {
  display: flex;
  width: 1000px;
  margin: 0 auto 0px;
  padding: 15px;
  color: #efefef;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#wrapper #warningWrapper #warning .notice {
  width: 910px;
  padding-top: 10px;
}
#wrapper #headerWrapper {
  background-color: #26354a;
}
#wrapper #headerWrapper #header {
  width: 1000px;
  margin: 0 auto 20px;
  min-height: 50px;
  max-height: 80px;
  background-color: #26354a;
  color: #d3dce6;
  letter-spacing: .3em;
  font: 11px Arial, helvetica, sans-serif;
  line-height: 16px;
  padding: 15px;
}
#wrapper #headerWrapper #header .title {
  text-align: center;
  color: #ffba00;
  text-decoration: none;
  line-height: 26px;
  font: 24px Times New Roman, Time, serif;
  border-right: 2px #ffba00 solid;
  padding-right: 10px;
}
#wrapper #headerWrapper #header .title a {
  color: #ffba00;
  text-decoration: none;
}
#wrapper #headerWrapper #header .subtitle {
  padding: 15px;
  position: relative;
  top: 6px;
}
#wrapper #headerWrapper #header .nav {
  letter-spacing: 1.5px;
  border-top: 1px solid #ffba00;
  margin-top: 5px;
  padding-top: 10px;
  font-size: 14px;
}
#wrapper #headerWrapper #header .nav ul,
#wrapper #headerWrapper #header .nav li {
  list-style: none;
  display: inline-block;
}
#wrapper #headerWrapper #header .nav li:after {
  padding: 0 5px 0 10px;
  content: "|";
}
#wrapper #headerWrapper #header .nav li:last-child:after {
  content: "";
}
#wrapper #headerWrapper #header .nav a {
  cursor: pointer;
  color: #d3dce6;
}
#wrapper #headerWrapper #header .nav a:hover {
  color: #ffba00;
}
#wrapper #main {
  width: 1000px;
  margin: 0 auto 37px;
}
#wrapper #main #tree .treeCertSubject {
  font-weight: bold;
  margin: 0 0 30px 0;
  text-align: center;
}
#wrapper #main #tree .certList {
  position: relative;
  top: -70px;
}
#wrapper #main #tree .middleTree {
  width: 255px;
  margin: 0 67px 0;
}
#wrapper #main #tree table {
  padding: 5px;
}
#wrapper #main #tree table tr.treeCertsDesc {
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
#wrapper #main #tree table tr td:nth-child(1) {
  padding-right: 5px;
}
#wrapper #main #tree table tr td:nth-child(2) {
  text-align: center;
  padding-right: 5px;
}
#wrapper #main #tree table tr td:nth-child(3) {
  padding-left: 5px;
}
#wrapper #main #cert,
#wrapper #main #class {
  margin: 100px 0 25px 0;
  border: 1px solid black;
}
#wrapper #main #cert sup,
#wrapper #main #class sup {
  vertical-align: super;
  font-size: smaller;
}
#wrapper #main #cert .info,
#wrapper #main #class .info {
  font-weight: bold;
  margin: 0 0 30px 0;
}
#wrapper #main #cert .info .back,
#wrapper #main #class .info .back {
  cursor: pointer;
}
#wrapper #main #cert p.title,
#wrapper #main #class p.title {
  font-size: larger;
  font-weight: bold;
  padding: 0 0 20px 0;
}
#wrapper #main #cert ul,
#wrapper #main #class ul {
  padding-left: 40px;
}
#wrapper #main #cert ul li,
#wrapper #main #class ul li {
  display: list-item;
}
#wrapper #main #cert table,
#wrapper #main #class table {
  width: 100%;
}
#wrapper #main #cert table a,
#wrapper #main #class table a {
  display: block;
}
#wrapper #main #cert table td,
#wrapper #main #class table td {
  border: 1px dotted black;
  padding: 5px;
}
#wrapper #main #cert table td > table td,
#wrapper #main #class table td > table td {
  border: none !important;
  padding: 0 !important;
}
#wrapper #main #class a {
  display: inline;
}
#wrapper #main #cert {
  padding-bottom: 20px;
}
#wrapper #main .login,
#wrapper #main .resetPassword {
  margin: 30px;
}
#wrapper #main .login .loginWrapper,
#wrapper #main .resetPassword .loginWrapper {
  max-width: 400px;
  margin: 50px auto;
}
#wrapper #main .login .loginWrapper p,
#wrapper #main .resetPassword .loginWrapper p {
  font-size: larger;
}
#wrapper #main .login form,
#wrapper #main .resetPassword form {
  max-width: 400px;
}
#wrapper #main .login form ul textarea,
#wrapper #main .resetPassword form ul textarea {
  resize: none;
}
#wrapper #main .errorPage div,
#wrapper #main .logout div {
  max-width: 400px;
  margin: 50px auto;
}
#wrapper #main .errorPage div p,
#wrapper #main .logout div p {
  font-size: larger;
}
#wrapper #main .admin .audit > p {
  font-weight: bold;
  padding: 10px 0 10px 0;
}
#wrapper #main .admin > div > p {
  font-weight: bold;
  padding: 10px 0 10px 0;
}
#wrapper #main .admin > div .listing li:nth-child(even) {
  background: #b1bcc7;
}
#wrapper #main .admin > div li {
  padding: 10px;
  list-style: none;
  border: 1px solid black;
  border-bottom: none;
}
#wrapper #main .admin > div li:last-child {
  border-bottom: 1px solid #000000;
}
#wrapper #main .admin > div li img {
  cursor: pointer;
  float: right;
  height: 20px;
  vertical-align: text-top;
  padding: 0 5px 0 5px;
}
#wrapper #main .admin > div li img.key {
  float: none;
  padding: 0;
  cursor: default;
}
#wrapper #main .admin > div .pages {
  margin: 10px;
}
#wrapper #main .admin > div .pages p {
  margin: 0 0 10px 0;
}
#wrapper #main .admin > div .pages a {
  padding-right: 10px;
  text-decoration: none;
}
#wrapper #main .admin > div .pages a:after {
  content: '|';
  padding: 0 0 0 10px;
  color: #000 !important;
}
#wrapper #main .admin > div .pages a:last-child:after {
  content: '';
}
#wrapper #main .admin > div .pages a.current {
  color: #ffba00;
}
#wrapper #main .admin > div .searchBar input {
  border-radius: 11px;
  background: #ffffff url(../img/search.png) no-repeat 9px 8px;
  padding-left: 46px;
  padding-right: 15px;
}
#wrapper #main .admin .certs form ul li,
#wrapper #main .admin .pages form ul li {
  border: 1px solid #a2aab2;
}
#wrapper #main .admin .certs form ul li:last-child,
#wrapper #main .admin .pages form ul li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}
footer {
  background-color: #26354a;
  position: fixed;
  bottom: 1px;
  height: 36px;
  color: #d3dce6;
  width: 100%;
}
footer > div {
  width: 1000px;
  margin: 0 auto 0;
  padding: 10px 0 0 0;
}
footer > div .langPicker {
  display: inline-block;
  cursor: pointer;
}
footer > div .langPicker img.uparrow {
  height: 13px;
  vertical-align: text-top;
}
footer > div .langPicker img.flag {
  height: 11px;
  width: 16px;
  object-fit: none;
  margin-right: 10px;
  object-position: -136px -273px;
}
footer > div .langPicker .es {
  object-position: -72px -76px !important;
}
footer > div .langPicker .en {
  object-position: -118px -256px !important;
}
footer > div .langPicker ul {
  list-style: none;
}
footer > div .langPicker ul li ul {
  position: absolute;
  display: none;
  z-index: 1000;
  background: #26354a;
}
footer > div .langPicker ul li ul li {
  padding: 10px;
  border-top: 1px dotted #d3dce6;
}
footer > div .langPicker ul li ul li:first-child {
  border: none;
}
footer > div .langPicker ul li:hover ul {
  display: block;
  bottom: 25px;
}
form {
  margin: 50px auto;
  background: #c1cad3;
  border-radius: 2px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
form h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5C5C5C;
  font-size: x-large;
}
form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
form ul li {
  display: block;
  padding: 8px;
  border: 1px solid #a2aab2;
  margin-bottom: 30px;
  border-radius: 3px;
}
form ul li.error {
  border: 1px solid red !important;
}
form ul li.error > span {
  background: red !important;
}
form ul li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}
form ul li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: #c1cad3;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #4e4e4e;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
form ul li > span:last-child {
  background: #4e4e4e;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
form ul div.tripleInput {
  text-align: left;
}
form ul div.tripleInput input[type='file'] {
  display: none;
}
form ul div.tripleInput input[type="text"],
form ul div.tripleInput input[type="date"],
form ul div.tripleInput input[type="datetime"],
form ul div.tripleInput input[type="email"],
form ul div.tripleInput input[type="number"],
form ul div.tripleInput input[type="search"],
form ul div.tripleInput input[type="time"],
form ul div.tripleInput input[type="url"],
form ul div.tripleInput input[type="password"],
form ul div.tripleInput textarea,
form ul div.tripleInput select {
  width: 350px !important;
  display: inline-block !important;
  margin-right: 15px;
}
form ul div.tripleInput input[type="submit"],
form ul div.tripleInput input[type="button"],
form ul div.tripleInput button {
  margin-right: 15px;
  height: 30px;
  padding: 5px 20px 5px 20px;
  vertical-align: middle;
}
input[disabled],
input[readonly] {
  cursor: not-allowed;
}
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
input[type=checkbox],
input[type=radio] {
  margin-right: 5px;
}
.select2-container {
  height: 35px;
}
input[type="submit"],
input[type="button"],
button {
  background: #2471FF;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994FF;
  border-radius: 3px;
  color: #D2E2FF;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  background: #6B9FFF;
  color: #fff;
}
input[type="submit"].low,
input[type="button"].low,
button.low {
  background: #8c8c8c;
  border-bottom: 3px solid #c8c8c8;
}
input[type="submit"].low:hover,
input[type="button"].low:hover,
button.low:hover {
  background: #b6b5b5;
}
input[type="submit"].processing,
input[type="button"].processing,
button.processing {
  background-image: url('../img/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position-x: 19px;
  background-position-y: 3px;
  color: rgba(0, 0, 0, 0);
}
.modalShadow {
  position: fixed;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.modal {
  position: absolute;
  /* Stay in place */
  z-index: 5;
  /* Sit on top */
  padding-top: 75px;
  /* Location of the box */
  left: 0;
  top: 0;
}
.modal .modalWrapper {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}
.modal .modalWrapper .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modalWrapper .close:hover,
.modal .modalWrapper .closefocus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal .modalWrapper .modalContent {
  min-height: 20px;
  overflow: auto;
  max-height: 450px;
  line-height: 18px;
  height: auto;
}
.modal .modalWrapper .modalFooter {
  text-align: right;
  margin-top: 15px;
}
.modal .modalWrapper .modalFooter input {
  margin: 0 0 0 15px;
}
.modal .modalWrapper form {
  margin: 10px auto;
  max-width: 500px;
  background: #fff;
  padding: 10px;
}
.modal .modalWrapper form ul li {
  border: 1px solid #4e4e4e;
}
.modal .modalWrapper form ul li.error {
  border: 1px solid red !important;
}
.modal .modalWrapper form ul li.error > span {
  background: red !important;
}
.modal .modalWrapper form ul li > label {
  background: #fff;
}
.modal .modalWrapper form ul textarea {
  resize: none;
  max-height: 365px;
}
.modal .modalWrapper a {
  color: #20c5f7;
  text-decoration: underline;
  cursor: pointer;
}
.modal .modalWrapper .tabWrapper .tabs {
  margin: 10px auto;
  width: 500px;
}
.modal .modalWrapper .tabWrapper .tabs .tab {
  margin-right: -4px;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background: #d1d1d1;
}
.modal .modalWrapper .tabWrapper .tabs .tab.active {
  background-color: #4e4e4e !important;
  color: #fff !important;
}
.modal .modalWrapper .tabWrapper .tabs .tab:hover {
  background: #b3b3b3;
}
.modal .modalWrapper .userRoles .listing,
.modal .modalWrapper .userDept .listing {
  max-height: 320px;
  overflow-y: scroll;
}
.modal .modalWrapper .userRoles .listing li,
.modal .modalWrapper .userDept .listing li {
  padding: 10px;
  list-style: none;
  border: 1px solid black;
  border-bottom: none;
}
.modal .modalWrapper .userRoles .listing li:nth-child(even),
.modal .modalWrapper .userDept .listing li:nth-child(even) {
  background: #b1bcc7;
}
.modal .modalWrapper .userRoles .listing li:last-child,
.modal .modalWrapper .userDept .listing li:last-child {
  border-bottom: 1px solid black;
}
.modal .modalWrapper .userRoles .listing li img,
.modal .modalWrapper .userDept .listing li img {
  float: right;
  padding: 0 5px 0 5px;
  vertical-align: text-top;
}
.modal .modalWrapper .userRoles .add,
.modal .modalWrapper .userDept .add {
  padding-top: 10px;
}
#loadOff {
  position: absolute;
  top: -100px;
}
.padding30Bottom {
  padding-bottom: 30px;
}
.margin25Top {
  margin-top: 25px;
}
.noneImportant {
  display: none !important;
}
.tip {
  display: none;
  position: absolute;
  border: 1px solid #333;
  background-color: #161616;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  z-index: 70001;
}
img.delete.tooltip {
  height: 20px;
  cursor: pointer;
}
